/*!
  Original Authors:
    - crambaud, waterfall: https://github.com/crambaud/waterfall
    - andreasgrafen, cascade: https://github.com/andreasgrafen/cascade
    - migueravila, SimpleFox: https://github.com/migueravila/SimpleFox
*/

:root {
  /* customizes the one line browser height */
  /* values less than 32px requires extra few pixels of negative top margin on urlbar, need to figure this out */
  --c-urlbar-height: 32px;
  --urlbar-height: 32px !important;
  --urlbar-toolbar-height: 32px !important;
  --urlbar-min-height: 32px !important;
  --tab-min-height: 32px !important; /* make this the same as urlbar-height */

  /* url bar width settings */
  --uc-urlbar-width: 320px;

  /* tab width settings */
  --uc-active-tab-width: 160px;
  --uc-inactive-tab-width: 0px;

  /* if active always shows the tab close button */
  --show-tab-close-button: none; /* DEFAULT: -moz-inline-box; */

  /* if active only shows the tab close button on hover*/
  --show-tab-close-button-hover: -moz-inline-box; /* DEFAULT: -moz-inline-box; */

  /* removes "pill" margin on tabs */
  --tab-block-margin: 0px !important;
}

/* customize urlbar font size, default is 1.15.
32px titlebar height looks better with 1em imo. */
#urlbar,
#searchbar {
  font-size: 1em !important;
}

/* removes border on bookmarks toolbar */
#navigator-toolbox {
  border: none !important;
  box-shadow: none !important;
}

/* remove 1px white line on top of browser */
#TabsToolbar {
  margin-top: -1px;
}

/* remove "padding" left and right from tabs */
.titlebar-spacer {
  display: none;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

/* remove tab shadow */
.tab-background {
  box-shadow: none !important;
}

/* tab close button options */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: var(--show-tab-close-button);
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: var(--show-tab-close-button-hover);
}

/* adaptive tab width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: var(--uc-active-tab-width) !important;
}
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: var(--uc-inactive-tab-width) !important;
}

/* locks down several heights to ensure one-line height customization
keeps heights tabs / urlbar / etc stay consistent when changed from 32px */
#TabsToolbar,
#TabsToolbar .tab-background,
#TabsToolbar .tab-content,
#nav-bar {
  height: var(--c-urlbar-height);
}

#tabbrowser-tabs,
toolbar .toolbarbutton-1 {
  max-height: var(--c-urlbar-height);
  height: var(--c-urlbar-height);
  width: var(--c-urlbar-height);
}

#urlbar[breakout]:not([breakout-extend]) {
  top: calc((var(--c-urlbar-height) - var(--c-urlbar-height)) / 2) !important;
  height: 100% !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  padding: 3px !important;
  width: 22px !important;
  height: 22px !important;
  max-width: 22px;
  max-height: 22px;
}

.toolbarbutton-badge-stack {
  padding: 0px !important;
}

/* removes extra color from urlbar area this can be removed if you want */
#nav-bar {
  background: transparent !important;
}

/* container tabs indicator */
.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-context-line {
  margin: -1px var(--container-tabs-indicator-margin) 0
    var(--container-tabs-indicator-margin);
}

/* settings that make browser oneline on larger windows */
@media (min-width: 1000px) {
  /* start tabs after URL bar area */
  #TabsToolbar {
    margin-left: calc(
      var(--uc-urlbar-width) + (var(--c-urlbar-height) * 3 + 5px)
    ) !important;
  }

  /* start urlbar at top of browser and make sure it's not 100% width  */
  #urlbar[breakout] {
    width: var(--uc-urlbar-width) !important;
  }

  #urlbar-container {
    min-width: auto !important;
  }

  #nav-bar {
    margin-top: calc(var(--c-urlbar-height) * -1);
    /* uses urlbar-height here because total button width is now based on browser
    height, and there are 3 buttons (back/forward, menu) */
    margin-right: calc(
      100vw - var(--uc-urlbar-width) - (var(--c-urlbar-height) * 3 + 5px)
    ) !important;
  }

  /* horizontal padding between various buttons */
  toolbar .toolbarbutton-1 {
    padding: 0 5px !important;
  }
}
