/*!
  Original Authors:
    - crambaud, waterfall: https://github.com/crambaud/waterfall
    - andreasgrafen, cascade: https://github.com/andreasgrafen/cascade
    - migueravila, SimpleFox: https://github.com/migueravila/SimpleFox
*/

:root {
  /* dynamic url bar width settings */
  --uc-urlbar-width: clamp(350px, 52vw, 600px);

  /* dynamic tab width settings */
  --uc-active-tab-width: clamp(50px, 18vw, 220px);
  --uc-inactive-tab-width: 0px;

  /* if active always shows the tab close button */
  --show-tab-close-button: none; /* DEFAULT: -moz-inline-box; */

  /* if active only shows the tab close button on hover*/
  --show-tab-close-button-hover: -moz-inline-box; /* DEFAULT: -moz-inline-box; */

  --tab-block-margin: 0px !important;
}

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box,
#nav-bar {
  border: none !important;
  box-shadow: none !important;
}

/* remove 1px white line on top of browser */
#TabsToolbar {
  margin-top: -1px;
}

/* makes inactive tabs icons */
.tabbrowser-tab:not([pinned]) {
  min-width: initial;
}

/* remove "padding" left and right from tabs */
.titlebar-spacer {
  display: none;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

/* remove tab shadow */
.tab-background {
  box-shadow: none !important;
}

/* tab close button options */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: var(--show-tab-close-button);
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: var(--show-tab-close-button-hover);
}

/* adaptive tab width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: var(--uc-active-tab-width);
}
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: var(--uc-inactive-tab-width);
}

#nav-bar {
  background: transparent !important;
}

/* container tabs indicator */
.tabbrowser-tab[usercontextid]
  > .tab-stack
  > .tab-background
  > .tab-context-line {
  margin: -1px var(--container-tabs-indicator-margin) 0
    var(--container-tabs-indicator-margin);
}

/* transition to oneline */
@media (min-width: 1000px) {
  /* move tabs bar over */
  #TabsToolbar {
    margin-left: var(--uc-urlbar-width);
  }

  /* removes border between hamburger menu and tabs */
  #TabsToolbar .toolbar-items {
    margin-left: -2px;
  }

  /* move entire nav bar  */
  #nav-bar {
    padding-right: 5px;
    margin: calc((var(--urlbar-min-height) * -1) - 8px)
      calc(100vw - var(--uc-urlbar-width)) 0 0;
  }

  toolbar .toolbarbutton-1 {
    padding: 3px !important;
  }
}
